.work-tabs{
    position: relative;
    margin-bottom: 15px;
}
.work-tabs .tab-buttons{
    margin-top: 0;
    width: 100%;
    max-width: 100%;
}
.work-tabs .tab-buttons .tab-btn {
    font-size: clamp(1rem, 2vw, 1.5rem); 
    line-height: unset;
    width: 33.3%;
    padding: 5px;
}
.work-tabs .tabs-content {
    padding: 20px;
}
